<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <a routerLink="/login" routerLinkActive="active">Main Menu</a> -->


<!-- <a routerLink="/mainmenu" routerLinkActive="active">MainMenu</a> -->
<!-- <a routerLink="/login" routerLinkActive="active">LOGIN</a> -->

<a routerLink="/mainmenu" routerLinkActive="active">Main Menu</a>
<!-- { path: 'loginComponent', component: LoginComponent }, -->

<router-outlet></router-outlet>