

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
    <label>
        Email:
        <input  type="text" formControlName="email">
    </label>

    <label>
        ID:
        <input type="text" formControlName="id">
    </label>

    <label>
        Password:
        <input type="text" formControlName="password">
    </label>
    
    <label>
        First Name:
        <input type="text" formControlName="firstName">
    </label>

    <label>
        Last Name:
        <input type="text" formControlName="lastName">
    </label>

    <label for="active"></label>
    <select id="active" formControlName="active">
    <option [ngValue]="null">Select one...</option>
    <option *ngFor="let active of eActive | keyvalue" [ngValue]="active.value">{{active.value}}</option>
    </select>

    <div *ngFor="let role of roles; let i=index" class="col-md-2" >
        <label>
          <input #checkboxes [disabled]="!profileForm.valid" type="checkbox" id="roleCheckbox" ng-model="checkbox" [value]="role.roleName" (change)="onCheckChange(role)">
          
          {{role.roleName}}
        </label>
      </div>
        <button [disabled]="!profileForm.valid" type="submit" >Submit</button>
</form>
<div>
    <button (click)="updateProfileForm()">Update</button>
</div>

<div>
    <app-user-pagination></app-user-pagination>
</div>

