<li *ngIf="enableLinkForRole(roleName.USER)">
<a routerLink="/user" routerLinkActive="active" >User</a>
</li>

<li *ngIf="enableLinkForRole(roleName.ADMIN)">
<a routerLink="/admin" routerLinkActive="active" >ADMIN</a>
</li>

<li *ngIf="enableLinkForRole(roleName.BUSKER)">
<a routerLink="/busker" routerLinkActive="active"> BUSKER</a>
</li>
<li>
 <a routerLink="/registration" routerLinkActive="active"> Registration</a>
</li>
<li>
<a routerLink="/user-manager" routerLinkActive="active"> User Manager</a>
</li>

